html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #fff;
}

h1 {
  font-family: "Times New Roman", serif;
  font-size: 2.5em;
  text-transform: uppercase;
  text-shadow: 1px 1px #fff;
  color: rgba(0,0,0,1);
}

.titleSpan {
  font-size: 0.8em;
}

.logo {
  width: 30%;
  transition: width 1s;
}

.content-wrap {
  text-align: center;
  max-width: 950px;
  margin: 0 auto;
  padding: 0px 50px 60px;
  overflow: auto;
}

.btn {
  width: 175px;
  margin-top: 10px;
  margin-left: 5px;
}

li a:link {
  text-decoration: none;
}

li a:visited {
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
}

li a:active {
  text-decoration: none;
}

#results {
  width: 70%;
  margin: 0 auto;
  border-top: 1px dotted #CCC;
}

#results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#results ul li {
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
}

#results h4 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  padding-bottom: 5px;
  padding-top: 20px;
  color: #BF5841;
  border-bottom: 1px dotted #CCC;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  color: #999;
  padding: 20px;
}

footer a {
  color: #999;
}

footer a:link {
  color: #999;
  text-decoration: none;
}

footer a:visited {
  color: #999;
  text-decoration: none;
}

footer a:hover {
  color: #999;
}

footer a:active {
  text-decoration: none;
}

footer.row {
  margin-top: 20px;
}

footer span {
  padding: 10px;
  white-space: nowrap;
}

@media (min-width: 768px) {

  .col-narrow {
    width: 30%;
    float: left;
  }

  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
  
  #results ul li {
    height: 50px;
  }

  #results li:hover {
    background: #fffce5;
    min-height: 110px;
    height: 110px;
    overflow: visible;
  }
}

@media (max-width: 767px) {
  
  header {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Wikipedia_Logo_1.0.png/220px-Wikipedia_Logo_1.0.png');
    opacity: 0.85;
  }
  
  .logo {
    display: none;
  }
}
